.table {
  display: block;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: #f9f9fb;
}

.head {
  display: flex;
  position: sticky;
  top: 0;
  margin-bottom: 15px;
  padding: 5px;
}

.item {}

.data {
  display: flex;
  align-items: center;
  min-height: 41px;
  padding: 8px 5px;
  border-bottom: 1px solid transparent;
  cursor: default;
}

.data:hover {
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.column {
  display: flex;
}

.column_color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.column_domain {
  width: 200px;
}

.column_checked_at {
  width: 200px;
}

.column_status {
  width: 80px;
}

.column_actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.column_actions svg {
  fill: #818181;
}

.column_actions svg:hover {
  fill: #000;
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.color_green {
  background: #00e300;
}

.color_red {
  background: red;
}

.link {
  margin-left: 10px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.dropdown__arrow {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-width:  0 2px 2px 0;
  border-style: solid;
  border-color: #000;
  transform-origin: center;
  transform: rotate(45deg) translateY(-1px) translateX(-1px);
}

.dropdown_invert .dropdown__arrow {
  border-width:  0 0 2px 2px;
  transform: rotate(135deg) translateY(-1px) translateX(1px);
}

.section > .block {
  display: none;
}

.section_open > .block {
  display: block;
}

.statuses {
  display: none;
  user-select: none;
}

.statuses_open {
  display: block;
}

.status {}

.status:first-child .circle::before {
  display: none;
}

.status:last-child .circle::after {
  display: none;
}

.status .circle::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 2px;
  width: 2px;
  height: 17px;
}

.status .circle::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 2px;
  width: 2px;
  height: 18px;
}

.circle {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 20px 0 auto;
  border-radius: 50%;
  border: 2px solid transparent;
}

.circle_green {
  border-color: #00e300;
}

.circle_green::before, .circle_green::after {
  background: #00e300;
}

.circle_red {
  border-color: red;
}

.circle_red::before, .circle_red::after {
  background: red;
}